extends layout

head
  title= title
  script(src="https://code.jquery.com/jquery-3.5.1.min.js")
  script(src="../public/javascript/fileupload.js")
block content
  #wrapper
    h1#title= title
    if(input_type == 'video')
      video(autoplay = 'true')
    else if locals.photo
      img(src='data:image/jpeg;base64,#{photo}').image-display
    else
      .image-display
    div#res
      p#restitle Result
      p#result= result
    div
      table#tb
        th Please select a method of image input:
        tr
          td
            input(type='radio' id='image' name='input_type' value='image' checked) 
            label(for='image') Upload an Image
          td
            if (input_type == 'video')
              button#select-video Connect Webcam
            else
              form#fileUpload(method='POST' action='/' enctype='multipart/form-data')
                label(for='payload') Select a photo to upload:
                input#payload(type='file' name='photo' accept='image/*')
                br
                button#upload Upload
        tr
          td
            input(type='radio' id='video' name='input_type' value='video') 
            label(for='video') Connect to Webcam
    div#res
      p#restitle Result
      p#result You are #{result}
